{% extends "base.html" %}

{% load embed_video_tags %}

{% block content %}
    <small>{{ object.created|date }}, {{ object.created|time }} | <a href="{% url 'posts:update' pk=object.pk %}">Edytuj</a> | <a href="{% url 'posts:delete' pk=object.pk %}">Usuń</a> | autor: {{ object.author }}</small>

    {% if user.is_superuser %}
        <form method="post" action="{% url 'accounts:ban' object.author.pk %}">
            {% csrf_token %}

            {% if not object.author.banned %}
                <input type="hidden" name="set" value=1>
                <input type="submit" value="Zbanuj">
            {% else %}
                <input type="hidden" name="set" value=0>
                <input type="submit" value="Odbanuj">
            {% endif %}
        </form>
    {% endif %}

    <p>{{ object.text }}</p>
    {% if object.image %}
        <img src="{{ object.image.url }}">
    {% endif %}
    {% if object.video %}
        {% video object.video '800x600' %}
    {% endif %}

    <h4>Komentarze:</h4>

    <form method="post" action="{% url 'posts:comment' object.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Wyślij" {% if user.banned %} disabled {% endif %}>
    </form>

    {% for comment in object.comments.all %}
        {% include 'posts/comment.html' %}
    {% endfor %}

{% endblock %}
